.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;

    position:absolute;
    top: calc(50px + 32px);
    left: 0;
    right: 0;
    z-index: 999;
}

.mobile-menu-top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}