.desktop-header{
    display: none;

    /* border: 1px solid red; */
    padding: 0px 64px;
    gap: 32px;
    align-items: center;
}

.desktop-nav-links-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-action-button-group{
    display: flex;
    gap: 32px;
    align-items: center;
}

@media (min-width: 1200px){
    .desktop-header{
        display: flex;
    }
}