.icon-button-transparent{
    border: none;
    background: none;

    border-radius: 8px;
    color: var(--text-color);

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 16px;

    cursor: pointer;
    opacity: 0.7;

    & svg{
        fill: var(--text-color);
    }

    &:hover{
        opacity: 1;
    }
}