.art-grid{
    display: flex;
    gap: 8px;   /*this will be gap betweenn rows*/
    flex-direction: column;  /*make sure rows are under each other*/
    padding-top: 32px; /*space art grid away from the heading*/
    padding-bottom: 32px;
}

.art-grid-row{
    display: flex;
    gap: 8px; /*gap between thumbnails in the row*/
    justify-content: center; 
}