.art-grid{
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    gap: 8px;
    /* border: 1px solid red; */
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.art-grid-row{
    /* border: 1px solid blue; */
    display: flex;
    gap: 8px;
    justify-content: center;
}