.update-bio-form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;

    & textarea{
        width: 80%;
        height: 300px;
        resize:vertical;

        border: 1px solid var(--accent-color);
        background: none;
        color: var(--text-color);
    }

    & div{
        display: flex;
        justify-content: flex-end;
        /* border: 1px solid red; */
        width: 80%;
        gap: 16px;
    }
}