#search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    position: relative;

    & input{
        background: none;
        border: 2px solid var(--text-color);
        border-radius: 50px;
        color: var(--text-color);

        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 0px 64px;

    }

    & svg{
        fill: vaR(--text-color)
    }
}