@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.dark-theme{
  --text-color: #f1fce9;
  --background-color: #000000;
  --accent-color: #27dd8b;
  --primary-color: #3de145;
  --on-primary-color: #272727;
  --secondary-color: #08311e;
}
.light-theme{
  --text-color: #000000;
  --background-color: #f1fce9;
  --accent-color: #27dd8b;
  --primary-color: #3de145;
  --on-primary-color: #272727;
  --secondary-color: #27dd8b;
}


/*Text styles*/
.text-display{
  font-family: "Roboto", sans-serif;
  font-size: 57px;
  font-weight: 800;
  letter-spacing: -2%;
  line-height: 64px;
}
.text-headline{
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0%;
  line-height: 53px;
}
.text-title{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 53px;
}
.text-body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4%;
  line-height: 32px;
}
.text-label{
  font-family: "Roboto", sans-serif;
  font-size: 14;
  font-weight: 400;
  letter-spacing: 1%;
  line-height: 27px;
  &.prominent{
    font-weight: 700;
  }
}


#App{
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  text-align: center;
}